.about__title {
	@include sectionHeading(30px);
	padding: 90px 0 65px;
	position: relative;
	&::after {
		@include keyline;
	}
}

.about__description {
	@include body(16px);
	padding-bottom: 110px;
	width: 50%;

}