.contact {
	background: #E8E8EE;
	padding-bottom: 100px;
}

.form__intro {
	@include sectionHeading(28px);
	text-transform: uppercase;
	text-align: center;
	padding: 90px 0 65px;
	position: relative;
	&::after {
		@include keyline;
		left: 50%;
		transform: translateX(-50%);
	}
}

.contact__container {
	display: flex;
	justify-content: space-between;
}

.contact__container--left {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	padding-right: 50px;
	border-right: 3px solid #CCC;
	.contact__title {
		margin: 5px 0 50px;
		@include sectionHeading(20px);
	}
}

.contact__about--short {
	line-height: 30px;
}

// aside::after {
// 	content: "";
// 	width: 300px;
// 	// height: 300px;
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	border: 2px solid #CCC;
// }

.my-email {
	margin: 70px 0 15px;
	border: 2px solid $bl;
	padding: 15px;
	text-align: center;
	width: 200px;
	@include body(18px);
}

form {
	display: flex;
	flex-direction: column;
	width: 55%;
	@include respond_to(medium) {
		justify-content: center;
	}
}

.form__inner-container {
	display: flex;
}

.name,
.email {
	width: 50%;
	padding: 10px;
}

.name {
	margin-right: 15px; 
}

.subject {
	padding: 10px;
	margin-top: 15px;
}


.message {
	height: auto;
	padding: 10px;
	margin-top: 15px;
	&:focus {
		outline: none;
		border: 3px solid #CCC;
		background: #E8E8EE;
	}
}

input {
	border: 3px solid $wh;
}

input::placeholder,
.message::placeholder  {
	@include body(16);
	color: $bl;
	// text-transform: uppercase;
}

input:focus {
	outline: none;
	border: 3px solid #CCC;
	background: #E8E8EE;
}

textarea {
	border: none;
} 

.form__message-button {
	width: 200px;
	margin-top: 15px;
	padding: 15px;
	@include body(16px);
	text-align: center;
	text-transform: uppercase;
}


