.header {
	padding: 5px;
	background: $bl;
	border-bottom: 1.5px solid $wh;
	box-shadow: 1px 0px 2px #333;
	position: relative;
	z-index: 20;

	&__logo {
		max-width: 50px;
		max-height: 50px;
		min-width: 40px;
		min-width: 40px;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: minmax(50px, 1fr) minmax(400px, 1fr);
		align-items: center;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 10px;
		@include body(14px);
		text-transform: uppercase;

		&-items {
			text-align: center;
		}

		a {
			text-align: center;
			color: $wh;
			letter-spacing: 2px;
			
			&::before {
				content: "";
				display: block;
				height: 2px;
				width: 0%;
				border-bottom: 2px solid transparent; 
				transition: 0.5s ease-in-out;
				white-space: nowrap;
			
				&:hover {
					border-bottom: 2px solid $wh;
					width: 100%;
				}
			}
		
		}

	}
}

nav {
	position: relative;
}

nav button.hamburger {
	display: none;	
	outline: none;
	@include respond_to(medium) {
		position: absolute;
		top: 25%;
		right:5%;
		display: block;

	}
}


.overlay nav {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.overlay.nav__items {
	flex-direction: column;
}

.overlay .nav__items a {
	text-align: center;
	width: 100%;
	padding: 10px;
}

.overlay .hamburger {
	display: block;
	font-size: 50px;
	text-align: center;
}

// .hamburger {
// 	@include respond-to(medium) {
// 		display: block;
// 	}
// 	@include respond_to(small) {
// 		display: block;
// 	}
// }

.nav__items.show {
	display: flex;
	background: $bl;
	padding: 20px;
	width: 200px;
}


