.hero-section {
	background: #333;
	height: 100vh;
	position: relative;
}

.hero__title {
	width: 600px;
	text-align: center;
	color: $wh;
	text-transform: uppercase;
	border: 3px solid $wh;
	padding: 5px;
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%, -50%);

	h1 {
		@include sectionHeading(60px);
		letter-spacing: 5px;
	}

	h3 {
		@include body(25px);
		letter-spacing: 4px;
		text-align: center;
	}
}

