.hero-section {
	background: url(/dev/assets/samuel-zeller-337030.jpg);
	height: 100vh;
	position: relative;
}

.hero__title {
	width: 600px;
	text-align: center;
	color: $bl;
	text-transform: uppercase;
	background: #F4F5F7;
	border: 3px solid $bl;
	padding: 5px;
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%, -50%);

.hero__title--name {
		@include sectionHeading(60px);
		letter-spacing: 5px;
	}

.hero__title--career {
		@include body(25px);
		letter-spacing: 4px;
		text-align: center;
	}
}

