@mixin sectionHeading($fontValue) {
	font-family: $headingFont;
	font-size: $fontValue;
	letter-spacing: 1.4px;
}

@mixin sectionSubHeading($fontValue) {
	font-family: $subHeadingFont;
	font-size: $fontValue;
	letter-spacing: 1.4px;
}

@mixin body($fontValue) {
	font-family: $bodyFont;
	font-size: $fontValue;
	line-height: 30px;
	text-align: justify;
}

@mixin keyline {
	content: "";
	width: 100px;
	position: absolute;
	top: 70%;
	left: 0;
	border-bottom: 4px solid $bl;
}

@mixin respond_to($breakpoint) {
	@if $breakpoint == "small" {
		@media only screen and  (max-width: 480px) {
			@content;
		}
	}

	@else if $breakpoint == "medium" {
		@media only screen and (max-width: 768px) {
			@content;
		}
	}

	@else if $breakpoint == "large" {
		@media only screen and (max-width: 945px) {
			@content;
		}
	}
	
	@else {
		@media ($breakpoint) {
			@content;
		}
	}
}