@mixin sectionHeading($fontValue) {
	font-family: $headingFont;
	font-size: $fontValue;
}

@mixin body($fontValue) {
	font-family: $bodyFont;
	font-size: $fontValue;
	line-height: 30px;
}

@mixin respond_to($breakpoint) {
	@if $breakpoint == "small" {
		@media only screen and  (max-width: 480px) {
			@content;
		}
	}

	@else if $breakpoint == "medium" {
		@media only screen and (max-width: 768px) {
			@content;
		}
	}

	@else if $breakpoint == "large" {
		@media only screen and (max-width: 945px) {
			@content;
		}
	}
	
	@else {
		@media ($breakpoint) {
			@content;
		}
	}
}