.projects {

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(3, auto);
		padding: 0 30px;

		@media screen and (max-width: 775px) {
			max-width: 80%;
			margin: 0 auto;
			grid-template-columns: 1fr;
			padding: 0 50px;
		}

	}

	&__single-container {
		margin-bottom: 100px;
		position: relative;
		filter: grayscale(100%);
		transition-property: filter;
		transition-duration: 0.4s;

		&:hover {
			filter: grayscale(0%);

			& .projects__view span {
				background-color: $primary;
			}
		} 

		&.htw {
			grid-column: 1 / 5; 
			margin-top: 150px;

			@media screen and (max-width: 670px) {
				margin-top: 50px;
			}

			& .projects__view {
				right: 24px; 

				@media screen and (max-width: 996px) {
					right: 0;
				}
			}
		}

		&.bk247 {
			grid-row-start: 2;
			grid-column: 4 / -1;

			& .projects__view {
				@media screen and (max-width: 405px) {
					bottom: 94px;
				}

			}
		}

		&.h2g {
			grid-row-start: 3;
			grid-column: 1 / 5;

			& .projects__view {
				@media screen and (max-width: 411px) {
					bottom: 64px;
				}
			}
		}
	}	

	&__view {
		position: absolute;
		bottom: 64px;
		right: 0;
		// font-size: 2.5rem;
		background-color: $bl;
		color: $wh;
		// font-size: 25px;
		text-align: center;
		@include sectionHeading(2.5rem);

		@media screen and (max-width: 411px) {
			font-size: 1.8rem;
			bottom: 88px;
		}

		@media screen and (max-width: 405px) {
			font-size: 1.8rem;
			bottom: 118px;
		}

		& span {
			padding: 10px 20px; 
			filter: grayscale(0%);
			background-color: #3b3939;
			display: block;
		}
	}

	&__info {
		&--title {
			padding-top: 10px;
			@include sectionHeading(2rem);
		}

		&--tools {
			@include body(1.8rem);
		}
	}
}






