.projects {
	padding-bottom: 135px;
}

.projects__intro {
	@include sectionHeading(28px);
	text-transform: uppercase;
	padding: 100px 0 65px;
	position: relative;
	&::after {
		@include keyline;
		top: 70%;
	}
}

.project__container-left {
	display: flex;
	.project__info--left {
		// height: 275px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-left: 30px;
	}
}

.project__container-right {
	display: flex;
	padding-top: 130px;
	flex-direction: row-reverse;
	&:first-child {
		padding-bottom: 130px;
	}
}

.project__title {
	@include sectionHeading(22px);
	border: 3px solid $bl;
	width: 250px;
	max-width: 250px;
	padding: 10px;
	text-align: center; 
	box-shadow: -10px 10px $bl;
}

.project__title.right { 
	box-shadow: 10px 10px $bl;
}

.project__sub-title {
	margin: 30px 0 15px;
}

.project__img--left,
.project__img--right {
	width: 50%;
	max-width: 100%;
	height: 10%;
	border: 3px solid $bl;
	@include respond_to(large) {

	}
}

.project__img--left {
	box-shadow: -15px 15px $bl;
}

.project__img--right {
	box-shadow: 15px 15px $bl;
}

.project__img--right.white {
	border: 2px solid #333;
}

// Photo by Samuel Zeller on Unsplash
// Photo by Alex wong on Unsplash
// Photo by William Bout on Unsplash

// .project__img--left::before {
// 	content: "";
// 	width: 525px;
// 	height: 275px;
// 	// display: block;
// 	position: absolute;
// 	top: 20%;	
// 	background: $bl;

// }

.project__info--left {
	// height: 400px;
}

.project__info--right {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-right: 25px;
	// height: 300px;
}

.project__description {
	line-height: 24px;
	max-height: 95px;
	// overflow:hidden !important;
	// text-overflow: ellipsis;
	padding-bottom: 10px;
	// margin-bottom: 10px;
}

.project__details {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	width: 320px;
	// justify-content: space-around;
	// width: 175px;
	li {
		padding: 12px 12px;
		// margin: 10px 10px 0 0;
		background: $bl;
		color: $wh;
		text-align: center;
	}
}

.project__link {
	border: 3px solid $bl;
	padding: 10px 15px;
	width: 125px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1.4px;
	transition: 0.3s ease-in-out;
	// margin: 15px 0;
	&:hover {
		background: $bl;
		color: $wh;
	}
}




