.skills {
	background: #000;
	padding-top: 50px;
}

.skills__display {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.skills__display li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20%;
	padding: 0 40px 60px 40px;
	@include respond_to(medium) {
		margin: 30px;
	}
	.devicon {
		color: $wh;
		font-size: 80px;
		display: block;
	}
}

li.gulp {
	@include respond_to(medium) {
		display: none;
	}
}

li.gulp ~ h4 {
	@include respond_to(medium) {
		display: none;
	}
}

li.github {
	@include respond_to(small) {
		display: none;
	}
}

li.github ~ h4 {
	@include respond_to(small) {
		display: none;
	}
}

.skills__display img {
	width: 60px;
	min-width: 60px;
	height: 80px;
}

.skills__display h4 {
	color: #E0FFFF;
	width: 80px;
	@include body(14px);
	letter-spacing: 2px;
	text-align: center;
	padding-top: 15px;
}
